# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/dist/
.vercel

# build
build/**
mac-app/build/**
mac-app/OpenCuak.app/**
dist/**
.next/**

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# ssh
keys/

# python
**/.ipynb_checkpoints/
**/fine-tuned-qwen2-vl-merged/
**/fine-tuned-qwen2-vl/
**/fine-tuned-visionllama-merged/
**/fine-tuned-visionllama/
**/mlruns/
**/outputs/
**/unsloth_compiled_cache/
**/.venv/
**/__pycache__/

# logs
**/logs/

# test data
**/test-vllm-prompt-data.json
